@page "{id}"
@model BookLibrary.Web.Pages.Books.DetailsModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="row">
    <div class="col-sm-4">
        <img src="@Model.ImageUrl" alt="@Model.Title Image" />
    </div>
    <div class="col-sm-8">
        <div class="h2">@Model.Title</div>
        <h5>
            by <a asp-page="/Authors/Details" asp-route-id="@Model.AuthorId">
                @Model.AuthorName
            </a>
        </h5>
        <p>
            @Model.Description
        </p>
        @if (Model.IsInStock)
        {
            <a asp-page="/Books/Borrow" asp-route-bookId="@Model.BookId" class="btn btn-info">Borrow</a>
        }
        else
        {
            <a asp-page="/Books/Borrow" asp-page-handler="Return" asp-route-bookId="@Model.BookId" class="btn btn-info">Return</a>
        }

        <a asp-page="/Books/Status" asp-route-bookId="@Model.BookId" class="btn btn-link">Show history</a>
    </div>
</div>
